Shepherd Review - G3 Class Editorial Issues 1-10 

### Group 3 - CAR Editorial (IETF and Grammar) issues 

**G3-1. Section Abstract** 

Old text/ 
   This document describes a BGP based routing solution to establish
   end-to-end intent-aware paths across a multi-domain service provider
   transport network.  This solution is called BGP Color-Aware Routing
   (BGP CAR).
/ 

New Text: / 
   This document describes a BGP based routing solution to establish
   end-to-end intent-aware paths across a multi-domain service provider
   transport network.  This solution is called BGP Color-Aware Routing
   (BGP CAR).
   
   This solution defines two new BGP SAFIs (BGP CAR SAFI and BGP VPN CAR SAFI)
   for IPv4 and IPv6.  The NLRIs these SAFIs define subdivide NLRI for each of 
   these two SAFIs into two subtypes, and two subtypes have been defined (Color-Aware
   Route NLRI) and IP Prefix NLRI.  Each type of NLRI contains key and non-key fields.
   This solution also defines a new sub-type for Local Color Mapping (LCM) for 
   Extended communities./

Why: The abstract should provide some sense of the scope of changes to BGP 
    as well as the use cage. 


**G3-2. Editorial 2: Introduction, paragraph 1**

Old Text:/ [RFC 9256]/ 
New text: / RFC 9256] in section 2.1.]

Reason: 
Please note that the RFC9256 mentioned color after defining it in terms of SR Policy.  It is not a strong reference for the general review.
(See TSVART for this comment.) 

**G-3. Section Introduction paragraph 5.**  

Problem: English extra words to be speific. 
Someone must want to us the loopback for BGP next hop 
and transport endpoint.  

Old text:/ 
   This case is applicable to situations where a
   transport node such as a PE has a common IP address (such as a
   loopback) to advertise for multiple intents.  This address is used as
   the BGP next hop for service routes and as the transport endpoint for
   the data plane path.
   /
 New Text:/
   This use case is applicable to situations where a
   transport node such as a PE has a common IP address (such as a
   loopback) to advertise for multiple intents. 
   The operator wants to use the common IP Address as both
   the BGP next hop for service routes and the transport endpoint for the 
   data plan path.  
   / 
 

**G3-4 - Section 1.2, descriptive text after figure.** 

Old Text 
/   E1 automatically steers the received service routes as follows:
   *  V/v via (E2, C1) provided by BGP CAR
   *  W/w via (E2, C2) provided by SR Policy
/ 

New Text
/   E1 automatically steers the received service route traffic as follows:
   *  V/v via (E2, C1) provided by BGP CAR
   *  W/w via (E2, C2) provided by SR Policy
/ 

Why:  Please emphasize in this section that you steering traffic.   

**G3-5 Section 1.2, build on your section 1.1 and use Color-EC and LCM-ECs**

Old Text:/
   E1 receives two service routes from E2:
   *  V/v with BGP Color Extended-Community C1 
   *  W/w with BGP Color Extended-Community C2

New Text:/
   E1 receives two service routes from E2:
   *  V/v with BGP Color Extended-Community C1 (Color-EC C1) 
   *  W/w with BGP Color Extended-Community C2 (Color-EC C2) 
/

Old Text:/
   *  Leverage of the BGP Color Extended-Community  
      -  The service routes are colored with widely used BGP Color
         Extended-Community [RFC9012] to request intent
/
New Text:/
   *  Leverage of the BGP Color Extended-Community (Color-EC) 
      -  The service routes are colored with widely used BGP Color
         Extended-Community [RFC9012] to request intent
/ 
Old text:/
   The keys to this simplicity are:
   
   *  the leverage of the BGP Color Extended-Community [RFC9012] to
      color service routes
/
New text:/
   The keys to this simplicity are:

   *  the leverage of the BGP Color Extended-Community [RFC9012] 
      (Color-EC) to color service routes
/ 

Why: Use of Color-EC and LCM-EC along with the full 
words will help keep the two types of communities clear. 


**G3-6 –  What does “this simplicity mean?** 

Old Text: 
/
   The keys to this simplicity are:

   *  the leverage of the BGP Color Extended-Community to color service
      routes

   *  the definition of the automated service steering: a C-colored
      service route V/v from E2 is steered onto a color-aware path (E2,
      C)

   *  the definition of the data model of a BGP CAR path: (E, C)
      -  natural extension of BGP IP/LU data model (E)
      -  consistent with SR Policy data model

   *  the definition of the recursive resolution of a BGP CAR route: a
      BGP CAR (E2, C) via N is resolved onto the color-aware path (N, C)
      which may itself be provided by BGP CAR or via another color-aware
      routing solution: SR Policy, IGP Flex-Algo.

   *  Native support for multiple transport encapsulations (e.g., MPLS,
      SR, SRv6, IP)
/

New text: 
/
   The keys concepts in the CAR routing solution approach are:   

   *  the leverage of the BGP Color Extended-Community [RFC9012] 
      (Color-EC) to color service routes;  

   *  the definition of the automated steering of service traffic: a C-colored
      service route V/v from E2 is steered onto a color-aware path (E2, C);  

   *  the definition of the data model of a BGP CAR path for (E, C) which is: 
      -  an extension of BGP IP/LU data model (E) to (E,C) and 
      -  consistent with SR Policy data model; 

   *  the definition of the recursive resolution of a BGP CAR route: 
      A BGP CAR (E2, C) route via N is resolved onto the color-aware path (N, C)
      which may itself be provided by BGP CAR or via another color-aware
      routing solution: SR Policy, IGP Flex-Algo; and

   *  Native support for multiple transport encapsulations (e.g., MPLS,
      SR, SRv6, IP). 
/

**Problem:** 
1) What do you mean by simplicity?  Simplicity is in the eye of the beholder. 
   Simply state what the key concepts 
2) Semi-colons were defined for the use case in this text.  
   You can choose semi-colons or periods at the end of the sentences. 

**G3-7 - Section 2.1, bullet item 2** 

Old text:/
   *  NLRI non-key encapsulation data: MPLS label stack, Label index,
      SRv6 SID list etc.
/

New text:/
   *  NLRI non-key encapsulation data: Data on MPLS label stack, Label index, and
      SRv6 SID list contained in TLVs (see section 2.9.2.1 - 2.9.2.3). 
/

Why:  Please provide forward references in the final text. 
      "etc." is not appropriate since there are only 3 types specified in this document. 

**G3-8 - Editorial reference problem, section 2.1** 

Old Text/
   *  BGP Color Extended-Community (Color-EC): Optional 32-bit Color
      value used to represent the intent associated with the CAR BGP
      next hop, as per [RFC9256].
/
New text:/
   *  BGP Color Extended-Community (Color-EC): Optional 32-bit Color
      value used to represent the intent associated with the CAR BGP
      next hop, as per [RFC9256] section 2.1 use of Extended 
	  Community in [RFC9012]. 
/ 

RFC9256 is not the original reference for the 32-bit Color Domain. 
Please include the original source. 

**G3-9 - Technical/Editorial section 2.2** 

Old text:/
   Extensible encoding is ensured by:
   *  NLRI Route-Type field: provides extensibility to add new NLRI
      formats for new route-types.  

   *  Key length: field enables handling of unsupported route-types
      opaquely, enabling transitivity via RRs.

   *  TLV-based encoding of non-key part of NLRI: enables flexible
      support for multiple encapsulations with efficient update packing.

   *  AIGP Attribute [RFC7311]provides extensibility via TLVs, enabling
      definition of additional metric semantics for a color as needed
      for an intent.
/

New text:/
   Extensible encoding is provided by:
   *  NLRI Route-Type field: This field allows the addition of 
      new NLRI formats for new route-types.  
	  
	  All formats except the NLRI Type-1 and  NLRI Type-2 are 
	  outside the scope of this document. 
	  
   *  Key length: This field specifies the key length.
   
      By specifying the key length, new NLRI types may be 
	  opagquely which permits transitivity of new Route types
      through BGP peers (e.g. Route Reflectors).  	 

   *  TLV-based encoding of non-key part of NLRI: This field allows
      the inclusion of additional non-key fields to support
      different types of encapsulation. 	  
	  
	  The only TLVs fields specified by this specification are: 
	  the Label TLV, the Label Index TLV, and the SRv6 SID TLV.
	  All other TLVs are outside the scope of this specification. 
   

   *  AIGP Attribute [RFC7311] specifies only one type of TLV 
      (AIGP TLV) for accumlating the metric within the administrative domain. 
	  
	  Future work may define alternate TLVs, but that work is 
	  outside the scope of this document. 
/

**_Why-1:_** Avoid the word "ensure".  This word means something to the 
security area.  Also, "ensure" is a business language term. 
Avoid it. 

**_Why-2:_** (technical) You must specify the limits of this draft 
if you are specifying extensibility of the types.  

**_Why-3:_** Section 2.6 specifies RFC7311 which has only 1 TLV type. 

**G3-10 - Editorial/Technical, section 2.4** 

**Why Edits:** A few extra words in this section will help the remainder of the text. 

Old Text:/
2.4.  BGP CAR Route Validation

   A BGP CAR path (E, C) from N with encapsulation T is valid if color-
   aware path (N, C) exists with encapsulation T available in dataplane.
   
   A local policy may customize the validation process:
   *  the color constraint in the first check may be relaxed: instead N
      is reachable via alternate color(s) or in the default routing
      table.
/

New Text:/
2.4.  BGP CAR Route Validation

   A BGP CAR path (E, C) from a BGP peer with next hop N with encapsulation T is valid if color-
   aware path (N, C) exists with encapsulation T available in dataplane.
   
   A local policy may customize the validation process:
   *  the color constraint in the first check may be relaxed: if Next Hop N instead 
      is reachable via alternate color(s) or in the default routing
      table.
/

### G3-1 Abstract - Review of -07 text 
status: issue closed based on -07 text. 

### G3-2 (Introduction, paragraph 1) 
**07-status:** fixed RFC reference, added a NIT
**08-status:** closed 

Edit-1: 
Why: grammar needs 
-07 text:/ Color is a 32-bit numerical value associated with
   a network intent (low-cost, low-delay, avoid some resources, 5G
   network slice etc.) as defined in Section 2.1 of [RFC9256]./
New text:/ Color is a 32-bit numerical value associated with
   a network intent (low-cost, low-delay, avoid some resources, 5G
   network slice**,** etc.) as defined in Section 2.1 of [RFC9256]./ 

This case is closed with -08. 

### G3-3 (Section Introduction, paragraph 5): Review of -07 text 
**status:** closed with -08 text

-07 text:/ This case is applicable to situations where a
   transport node such as a PE has a common IP address (such as a
   loopback) to advertise for multiple intents.  This address is
   intended to be used as the BGP next hop for service routes and as the
   transport endpoint for the data plane path./

New text:/This use case arises from situations where a
   transport node such as a PE has a common IP address (such as a
   loopback) to advertise for multiple intents.  The operator wants to 
   use the common IP Address as both the BGP next hop for service 
   routes and as the transport endpoint for the data plane path./ 

This case is closed with the -08 txt. 

### G3-04 (Section 1.2) - Review of -07 text  
Context: Descriptive text after figure. 
**-07 text Status:** completed, closed 

Text in -07:/
   E1 automatically steers traffic for the received service routes as
   follows:
   *  V/v via (E2, C1) provided by BGP CAR
   *  W/w via (E2, C2) provided by SR Policy/ 


### G3-05 (Section 1.2) - Review of -07 text 
**content:** Section 1.2, build on your section 1.1 and use Color-EC and LCM-ECs
**status:**, Completed


### G3-06 (Section 1.2) 
Content: replacement of "simplicity" with "key concepts". 
**-07 text status:** Change complete, one editorial nit remains. 
**-08 text status:** closed 

Edit-1: 
07-text: /
   *  the definition of the recursive resolution of a BGP CAR route: a
      BGP CAR (E2, C) route via N is resolved onto the color-aware path
      (N, C) which may itself be provided by BGP CAR or via another
      color-aware routing solution: SR Policy, IGP Flex-Algo./
New text:/
   *  the definition of the recursive resolution of a BGP CAR route: a
      BGP CAR (E2, C) route via N is resolved onto the color-aware path
      (N, C) which may itself be provided by BGP CAR or via another
      color-aware routing solution (e.g. SR Policy or IGP Flex-Algo)./ 

closed with -08 text. 

### G3-7 (Section 2.1, bullet 2) - 07 text Review  
status: completed, closed 

added text:/ 
   *  NLRI non-key encapsulation data: Data such as MPLS label stack,
      Label Index and SRv6 SID list associated with NLRI.  Contained in
      TLVs as described in section 2.9.2.1 - 2.9.2.3./ 

### G3-8 (Section 2) - 07 text Review 
**status:** completed, closed

### G3-9 (Section 2.2) -07 Text Review 
**-07 text status:**: Changed, need 1 NIT fixed. 
**-08 text status:** closed 

Edit-1:
Why: Grammar,  Single indent removes dash. 
-07-text/      
      -  NLRI route types other than NLRI Type-1 and NLRI Type-2 are
         outside the scope of this document./ 
 new text:/
       NLRI route types other than NLRI Type-1 and NLRI Type-2 are
       outside the scope of this document./

Note: Remember to keep the indent and delete the "-" (dash). 

Status based on -08 text: Closed 

### G3-10 (Section 2.4) Editorial/Technical 
**-07 text Status:** Parital change made, 
**-08 text Status:** Closed 

**Edit-1:** 
**Why:** Clarity of text and Sentence grammar. 

-07-text:/
   A BGP CAR path (E, C) via N with encapsulation T is valid if color-
   aware path (N, C) exists with encapsulation T available in dataplane.
    
   A local policy may customize the validation process:
   *  the color constraint in the first check may be relaxed: instead N
      is reachable via alternate color(s) or in the default routing
      table.
   *  the dataplane availability constraint of T may be relaxed to use
      an alternate encapsulation.
   *  a performance-measurement verification may be added to ensure that
      the intent associated with C is met (e.g. delay < bound). /

]New text:/ 
   A BGP CAR path (E, C) via Peer N with encapsulation T is valid if color-
   aware path (N, C) exists with encapsulation T available in data-plane.

   A local policy may customize the validation process in the following ways: 

   *  The color constraint in the first check may be relaxed. 
      If N is reachable via alternate color(s) or in the default routing
      table, the route may be considered valid. 

   *  The data-plane availability constraint of T may be relaxed to use
      an alternate encapsulation. 

   *  A performance-measurement verification may be added to ensure that
      the intent associated with C is met (e.g. delay < bound)./ 

Closed with -08.txt 

Resolved:  G3-1, G3-2 (partial), G3-4, G3-5, G3-6 (partial) G3-7, G3-8, G3-9 (partial), G3-10 (partial)  
not resolved: G3-1, G3-2 (NIT), G3-3, G3-6 (Nit) , G3-9 (Nit), G3-9 (Nit),  G3-10 (Nit) 


### G3-2 (Introduction, paragraph 1)
**status:** fixed RFC reference, added a NIT

Edit-1:
Why: grammar needs
-07 text:/ Color is a 32-bit numerical value associated with
a network intent (low-cost, low-delay, avoid some resources, 5G
network slice etc.) as defined in Section 2.1 of [RFC9256]./

New text:/ Color is a 32-bit numerical value associated with
a network intent (low-cost, low-delay, avoid some resources, 5G
network slice**,** etc.) as defined in Section 2.1 of [RFC9256]./

This issue is closed in -08. 

Resolved: G3-1, G3-2, G3-4, G3-5, G3-6, G3-7, G3-8, G3-9, G3-10 
