NITS from Datatracker 


  == Missing Reference: 'RFC 9012' is mentioned on line 639, but not defined
  == Missing Reference: 'RFC2545' is mentioned on line 774, but not defined
  == Missing Reference: 'RFC 4271' is mentioned on line 2113, but not defined

### 09-NITS RFC9012 
Line 639: 
639	   The procedures of **[RFC 9012]** Section 6 also apply to BGP CAR routes
640	   (AFI/SAFI = 1/83 or 2/83).  For instance, a BGP CAR BR may advertise
641	   a BGP CAR route to an ingress BR or PE with a specific BGP next hop
642	   per color, with a TEA or Tunnel Encapsulation EC, as per Section 6 of
643	   [RFC9012].

Note: highlighted the problem.  Issue is a space between RFC and 9012. 

### 09-NITS-2: 
line 774: 
772	   hop length is 4, then the next hop is an IPv4 address.  The next hop
773	   length may be 16 or 32 for an IPv6 next hop address, set as per
774	   section 3 of **[RFC2545].**  Processing of the Next Hop field is governed
775	   by standard BGP procedures as described in section 3 of [RFC4760].

### 09-NITS-3 'RFC 4271'


2112	   Note: If infrastructure routes such as SRv6 locator routes are
2113	   carried in both BGP-IP **[RFC 4271]** / BGP-LU [RFC8277, RFC4798], and
2114	   BGP CAR, Section 8 describes the path selection preference between
2115	   them.

Note the space in RFC 4271 instead of RFC4271. 

### Full NITS on -09 

### NITs-1: IPR boiler plate
**-09-Status:** No issue 
Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
       No issues found here.

### NITs-2:   Guidelines 
**-09-Status:** no issue 
Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:**
     No issues found here.

### NITs-3: Line length 
**Status:** 5 lines too long. 
  Checking nits according to https://www.ietf.org/id-info/checklist :
     There are 5 instances of too long lines in the document, the longest one
     being 13 characters in excess of 72.

### NITs-4: IPv6 address format 
**-09-status:** All addresses check by hand. 
 **Issue:** There are 17 instances of lines with non-RFC3849-compliant IPv6
     addresses in the document.  If these are example addresses, they should
     be changed.

###   NITs-5: Miscellaneous warnings:
**09-Status:** 2859 was Check by hand.  Valid line. 

  == Line 2859 has weird spacing: '... policy    v :...'
 
### NITs-6 Keywords 
**Status:** Shepherd believes resolved 

Using lowercase 'not' together with uppercase 'MUST', 'SHALL', 'SHOULD',
 or 'RECOMMENDED' is not an accepted usage according to RFC 2119.  Please use uppercase 'NOT' together with RFC 2119 keywords (if that is what you  mean).
     
**Incident-1**   Found 'MUST not' in this paragraph:
     
     Label Index TLV MUST not be carried in the Prefix-SID attribute for
     BGP CAR routes.  If a speaker receives a CAR route with Label Index TLV
     in the Prefix-SID attribute, it SHOULD ignore it.  The BGP Prefix-SID
     Attribute SHOULD NOT be sent with the labeled color-aware routes if the
     attribute is being used only to convey the Label Index TLV.

**Shepherd's comment:**  I believe this indicates the correct status. 
     
 **Incident-2:** Found 'MUST not' in this paragraph:
     
     Extended communities (LCM-EC/Color-EC) carried in BGP CAR and
     Service routes MUST not be filtered, otherwise the desired intent will
     not be achieved.
Intended References: 

 ###  NITs-7: Checking references for intended status: Experimental
-09-Status: Unresolved, needs fixing. (put in separate comment) 

  == Missing Reference: 'RFC 9012' is mentioned on line 639, but not defined
  == Missing Reference: 'RFC2545' is mentioned on line 774, but not defined
  == Missing Reference: 'RFC 4271' is mentioned on line 2113, but not defined


     Summary: 1 error (**), 0 flaws (~~), 7 warnings (==), 0 comments (--).

     Run idnits with the --verbose option for more detailed information about
     the items above.

NITS resolved: NITs-01, NITs-02, NITs-04, NITs-05, NIT-06
NITS needing resolution:  NITs-03, NITs-07

### NITs-3: Line length
09-Status: 5 lines too long.
Checking nits according to https://www.ietf.org/id-info/checklist :
There are 5 instances of too long lines in the document, the longest one
being 13 characters in excess of 72.

DJ - need to check the line lengths.  
It may be a problem with the tool.  Run the verbose NITS. 