Shepherd's Review G2 Class IANA - 2 Issues 

### Group 2: IANA Errors 

**G2-1 IANA section**

My reading of the IANA text is that you need to have the 
SAFI allocations in a unique section. 

What is your reading of the IANA requirements? 


**G2-2 IANA, Section 10.3 needs a rewrite** 

Here's the fixes that need to be made: 

1. You have not linked the DE to the 
assignments in BGP CAR NLRI Types Registry (current 10.1)
and BGP CAR NLRI TLV Registry (current 10.2) due to Specification Required. 
The text needs to do this. 

2. If you have common requirements for the DE, state
the common requirements and the registries it applies to. 

3. Describe the steps in the procedure for the DE:

These common steps are: 
1. ascertain the existance of a suitable documentation as described in [RFC8126].
2. Check the clarity of purpose and use of requested code points for registry. 
3. Verify the request for these code points has been made available and commented
   within the IETF by: 
    a) posting to the request to the IDR Working Group mailing list 
	  (or a successor mailing list designed by the IESG), 
	b) If the request comes from the IETF, an Internet-Draft should
	   also have been posted for comment. 
4. Make sure the code pont does not conflict with work that is active or already published
   within the IETF. 
   
Additional suggestions for the BGP CAR NLRI Types Directory are:
1. check to the interoperability between current NLRI types and new 
   NLRI types is specified in the this document for    
   BGP CAR SAFIs (BGP CAR SAFI and VPN CAR SAFI), and 
   any updates to this document.    
   
2. Determine if specification indicates which non-key TLVs
   are valid for the new NLRI Type.

3. Check IDR implementation report for two implementations of 
   NLRIs.   

Additional suggestions for the BGP CAR NLRI TLV Registry
1. Check the interoperability for new TLVs and existing 
   TLVs for the BGP CAR NLRI Types defined. 
   
2. Check that documentation or Internet-Draft specifies 
   the support for non-Key TLVs per BGP CAR NLRI types 
   for BGP CAR SAFIs (BGP CAR SAFI and VPN CAR SAFI). 
   
3. Check IDR implementation reports for two implementation of 
   new non-Key TLV types.  


March 12: I sent off a query to IANA on draft-ietf-idr-bgp-car-06 for an early IANA Review.  


Response from IANA on 
> draft-ietf-idr-bgp-car-06.txt
 
Section 10.1:
 
1) Please make this wording change:
 
OLD:
IANA is requested to create a "BGP CAR NLRI Types" sub-registry under the "Border Gateway Protocol (BGP) Parameters" registry with
 
NEW:
IANA is requested to create a "BGP CAR NLRI Types" registry in the "Border Gateway Protocol (BGP) Parameters" registry group with
 
2) If they haven't done so, could the authors check whether the definition of "Reserved" in Section 6 of RFC 8126 means that "Reserved (not to be used)" could be changed to "Reserved"?
 
Section 10.2:
 
1) Same wording change:
 
OLD:
IANA is requested to create a "BGP CAR NLRI TLV Types" sub-registry under the "Border Gateway Protocol (BGP) Parameters" registry with
 
NEW:
IANA is requested to create a "BGP CAR NLRI TLV Types" registry in the "Border Gateway Protocol (BGP) Parameters" registry group with
 
2) Same "Reserved" note as above.
 
Section 10.4:  (this is now section 10.5) 
 
Please make this wording change (or a similar change that includes these names and the "registry"/"registry group" terminology):
 
OLD:
IANA has assigned the sub-type 0x1b for "Local Color Mapping (LCM)" under the "BGP Transitive Opaque Extended-Community" registry under the "BGP Extended-Community" parameter registry.
 
NEW:
IANA has assigned the sub-type 0x1b for "Local Color Mapping (LCM)" in the "Transitive Opaque Extended Community Sub-Types" registry located in the "Border Gateway Protocol (BGP) Extended Communities" registry group. 
 
For more information on terminology usage in IANA Considerations sections, please see
 
[https://www.iana.org/help/protocol-registration] 

G2 Summary: 
Changes to text: 3 (10.1, 10.2, and 10.4) 

Please look up the word reserved in section 6 RFC8126. 

The G2 Issues have been addressed in -07.txt.

This issue is closed. 