Shepherd's review - G3 Editorial class: Issues 21-30 

###  G3-21a Editorial, Section 2.9.3, IP Prefix definition. 
Why-1: Text clarity and English Grammar. 
Why-2: Ignored bits are typically recommended to be ignored upon reception and zero upon transmission.  
Old Text/ 
      -  IP Prefix: IPv4 or IPv6 prefix (based on the AFI).  A variable
         size field that contains the most significant octets of the
         prefix, i.e., 0 octet for prefix length 0, 1 octet for prefix
         length 1 to 8, 2 octets for prefix length 9 to 16, 3 octets for
         prefix length 17 up to 24, 4 octets for prefix length 25 up to
         32, and so on.  Last octet has enough trailing bits to make the
         end of the field fall on an octet boundary.  Note that the
         value of the trailing bits is irrelevant.  The size of the
         field MUST be less than or equal to 4 for IPv4 (AFI=1) and less
         than or equal to 16 for IPv6 (AFI=2). /

New text: / 
      -  IP Prefix: IPv4 or IPv6 prefix (based on the AFI).  A variable
         size field that contains the most significant octets of the
         prefix. For example,  the following lengths are used for
         IPv4 prefixes: 
		  * 0 octet for prefix length 0, 
		  * 1 octet for prefix lengths 1 to 8, 
		  * 2 octets for prefix lengths 9 to 16, 
		  * 3 octets for prefix lengths 17 up to 24, and 
		  * 4 octets for prefix lengths 25 up to 32. 
	The last octet has enough trailing bits so the
         end of the field falls upon an octet boundary.   
         The value of the trailing bits is irrelevant, and 
         these bits must be ignored upon reception.   
         It is recommended these bits are zero upon 
         transmission.  The length MUST be less than or 
        equal to 4 for IPv4 (AFI=1) and less
         than or equal to 16 for IPv6 (AFI=2).
/ 

**G3-21b - Editorial section 2.10** 

**Why:** All of the changes below are improvements in English sentence grammar
that clarifies the existing meaning of the text.  

Old Text:/
   Example: a multi-domain network is designed
   as Access-Core-Access.  
/
New text:/
   For example consider a multi-domain network 
   is designed as Access-Core-Access.  
/  
Old text:/
   As described in Section 
   2.5 and Appendix B.2, BGP Color Extended-Community is used to
   automate the CAR route resolution.
   /
   
New text:/
   As the procedures describe in section 2.5, and the example illustrates
   in Appendix B.2, BGP Color Extended Community (Color-EC) is used to automate
   the BGP CAR route Resolution. 
  / 
  
Old text:/
   For requirement 2, where CAR routes traverse across different color
   domains, LCM-EC is used to carry the local color mapping for the NLRI
   color in other color domains as already described in Section 2.8 and
   Appendix B.3. /
 
New Text :/
   For requirement 2, where CAR routes traverse across different color
   domains, LCM-EC is used to carry the local color mapping for the NLRI
   color in other color domains.  The procedures for LCM-EC are described 
   in Section 2.8 and an example is given in Appendix B.3.    / 

Old text:/
   Both LCM-EC and BGP Color Extended-Community may be present at the
   same time with a BGP CAR route.  Example: BGP CAR route (E, C1) from
   color domain D1, with LCM-EC C2 in color domain D2, may also carry
   Color-EC C3 and next hop N in a transit network domain within D2
   where C2 is being resolved via an available intra-domain intent C3
   (Appendix B.2 and Appendix B.3 combined).  /
 
New Text:/ 
   Both LCM-EC and Color-EC [RFC9012] may be present at the
   same time with a BGP CAR route.  For example, BGP CAR route (E, C1) from
   color domain D1, with LCM-EC C2 in color domain D2, may also carry
   Color-EC C3 and next hop N in a transit network domain within D2
   where C2 is being resolved via an available intra-domain intent C3.
   (See the detailed example in the combination of Appendix B.2 and 
   Appendix B.3).   / 


### G3-21c: Section 2.11 Error handling, paragraph 7 

Old Text:/
   Transparent propagation of unrecognized NLRI type:

   *  Key length allows unrecognized route types to transit through RR
      transparently without a software upgrade.  Such RR does not need
      to interpret key portion of NLRI and works on opaque key of given
      length.  An implementation SHOULD provide a knob that controls the
      RR unrecognized route type propagation behavior and possibly at
      granularity of route type values allowed.  This gives ability to
      operator to allow specific route type transparent reflection based
      on client speaker support.
/ 

New text: / 
   Transparent propagation of unrecognized NLRI type:
   *  Key length allows unrecognized route types to transit through RR
      transparently without a software upgrade.  The RR receiving 
      such routes does not need to interpret key portion of NLRI 
     and works on opaque key of given length.  
       -  An implementation SHOULD provide a knob that controls the
          RR unrecognized route type propagation behavior at the  
	  granularity of route type values allowed.  This knob gives ability to
          operator to allow specific route type transparent reflection based
          on client speaker support.
/ 
 
 **Issue:** Unclear what "such" and "this" in a procedural statement. 
 

### G3-22 - Section 3, paragraph 1 

Old text:/
  An ingress PE (or ASBR) E1 automatically steers a C-colored service
   route V/v from E2 onto an (E2, C) color-aware path.  If several such
   paths exist, a preference scheme is used to select the best path:
   E.g.  IGP Flex-Algo first then SR Policy then BGP CAR.  / 

 New text:/
   An ingress PE (or ASBR) E1 automatically steers a C-colored service
   route V/v from E2 onto an (E2, C) color-aware path.  If several such
   paths exist, then a preference scheme is used to select the best path. 
   One example of a preference scheme is: IGP Flex-Algo first then 
   SR Policy, followed by BGP CAR.  /
   
**Why:**  The "E.G." does with a semi-colon leads to an unclear interpretation. 
   Please review my text to see if it matches your intended meaning. 
   
### G3-23 - section 4, paragraph 1
Old text:/
   PE and BRs may support filtering of CAR routes, for instance to only
   accept routes of locally configured colors. / 
New text:/
   PE and BRs may support the filtering of CAR routes.  For instance, the 
   filtering may only accept routes of locally configured colors.
/ 

**why:** English text clarity. ", for instance" creates a complex sentence 
     where two simple sentences provide clarity. 

### G3-24 - section 4  - add "EC" - Extended Communities  
based on text like this, it would be good to add "EC" to your abbreviations in
section 1.1. 

Text as example:/ 
   RTC [RFC4684] may also be applied to the CAR SAFI, where Route Target
   ECs [RFC4360] can be used to constrain distribution of CAR routes.
   RT assignment may be via user policy. For example an RT value can be
   assigned to all routes of a specific color. / 

**Note:** No change to the text in section 4.1.     
 
### G3-25: Section 4.1 - Clarity in example 

Old text:/
   *  BGP CAR route (E2, C1) advertised by E2 is not unconditionally
      distributed beyond a certain point (e.g., B). / 

New text: /
   *  BGP CAR route (E2, C1) advertised by E2 is not unconditionally
      distributed beyond a certain point (Peer B in the above example). /

**why:** Clarity of where "B" is. 

### G3-26: Section 5, English edits. 

Old text:/ 
   Figure 2 provides an ultra-scale reference topology. / 

New text:/ 
   Figure 2 in section 5.1 provides an ultra-scale reference topology. 
   Section 5.1 provides a description of this topology./    
   
Old text:/
   Section 5.3 analyses the scaling properties of each model.   / 
New text:/ 
   Section 5.3 analyses the theoretical scaling properties of each model.  
   /  

### G3-27: Sections 5.2.1-5.2.3 - formatting issues. 

**G3-27a**
Editorial suggestion for 5.2.1 - items #3, #4, and #5. 
Old text:/ 
   3.  E1 receives BGP CAR route (E2, C1) via 121 with label 168002.
       1.  Let's assume E1 selects that path.
/
New text:
   3.  E1 receives BGP CAR route (E2, C1) via 121 with label 168002.
        Let's assume E1 selects that path.
/

You can either put a dash or just intent the comment under each number. 

**G3-27b: Section 5.2.2, items #3, 4, 5, 6, 7, 9**
Editorial change: remove numbers in indent. Use blank if single line (3,5, 6)
and uses dashes if 3 lines (7, 9) 

**G3-27c:  Fix to Section 5.2.2 on item 4.** 
Old text:/
  5.   451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
        T-RR2, which reflects it to T-RR1, which reflects it to 121.
/ 
New text:
  4.   451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
        T-RR2, which reflects it to Transport RR T-RR1, which reflects it to 121.
/  

**Why:**  It is unclear that T-RR1 is a RR.   

**G3-27d: Fix to indent format in 5.2.3 in items #6, 7, 8,  and 9. **
Change 6, 7, 8 from "1." to space. 
Change 9 to dashes (or leave as numbers) 

### G3-28: Section 5.3  - Two Edits
**G3-28a: Section 5.3:** 
In either the title or the first line you need to indicate this is a 
theoretical analysis.   

**G3-28b: section 5.3 - Run on sentence (grammar).**  
Old text:/ 
      -  Whether next-hop self or unchanged at 121, 341's dataplane
         scales with (451,C) where there may be thousands of 451's and 5
         C's hence well under the 1M MPLS dataplane. /
New text:/
      -  Whether next-hop self or unchanged at 121, 341's dataplane
         scales with (451,C) where there may be thousands of 451's and 5
         C's.  Therefore, this scaling is well under the 1M MPLS dataplane limit. / 
 
### G3-29: Section 5.4 
Old text: 
/benefits for the models in Section 5.2/ 
New text:
/benefits for the theoretical models in Section 5.2/ 

### G3-30: Section 5.5.2 

Old text: / 
   *  For example, assume a node E2' paired with E2 above.  / 
	 
New text: / 
   *  For example, assume a node E2' paired with E2 above (see figure 2).
/
Old text:/
   *  This design provides a convergence and recursive resolution
      benefit on an ingress PE or ABR similar to the egress ABR case in
      the previous section.  But its applicability is limited to cases
      where the constraints above can be met. /
New text: /
   *  This design provides a convergence and recursive resolution
      benefit on an ingress PE or ABR similar to the egress ABR case in
      the previous section (section 5.5.1).  But its applicability is limited to cases
      where the constraints above can be met. / 

**why:** Clarity of references "above" and "previous section". 




### G3-21a: Section 2.9.2 (IP Prefix Definition) - Review -07 + -08 txt 
**-08-status:** Resolved, closed 
**-07-status:** Not resolved.  No changes from -06 text. 
Why-1: Clarity of text and English Grammar. 
Why-2: Ignored bits are typically expressed as ignored upon reception and zero-filled upon transmission. 

**-07 text:**/
      -  IP Prefix: IPv4 or IPv6 prefix (based on the AFI).  A variable
         size field that contains the most significant octets of the
         prefix, i.e., 0 octet for prefix length 0, 1 octet for prefix
         length 1 to 8, 2 octets for prefix length 9 to 16, 3 octets for
         prefix length 17 up to 24, 4 octets for prefix length 25 up to
         32, and so on.  Last octet has enough trailing bits to make the
         end of the field fall on an octet boundary.  Note that the
         value of the trailing bits is irrelevant.  The size of the
         field MUST be less than or equal to 4 for IPv4 (AFI=1) and less
         than or equal to 16 for IPv6 (AFI=2)./
**New text:**/
      -  IP Prefix: IPv4 or IPv6 prefix (based on the AFI).  A variable
         size field that contains the most significant octets of the
         prefix.  The format of this field for an IPv4 address is: 
            - 0 octet for prefix length of 0, 
            - 1 octet for prefix length of 1 up to 8, 
            - 2 octets for prefix length of 9 up to 16, 
            - 3 octets for prefix length of 17 up to 24, and
            - 4 octets for prefix length of 25 up to 32.
          The format for this field for an IPv6 address follows the 
          same pattern for prefix lengths of 1-128 (octets 1-16). 
         The last octet has enough trailing bits to make the
         end of the field stops on an octet boundary. Note that the
         value of the trailing bits is irrelevant.  The trailing bits 
         are ignored on reception and set to zero on transmission. 
        The size of the field MUST be less than or equal to 4 for 
         IPv4 (AFI=1) and less than or equal to 16 for IPv6 (AFI=2)./ 



### G3-21b: Section 2.10 - Review of -07 Text 
**-08 status:** Resolved, closed 
**-07 Status:**  Not resolved,
**Why-1:** English Grammar changes for clear sentences. 
**Why-2:** Text needs to clearly differentiate between normative procedures versus the examples in appendices. 

Text changes between -06: 
Text in -06:/ As described in
   Section 2.5 and Appendix B.2, BGP Color Extended-Community is used to
   automate the CAR route resolution./
Text in -07:/ As described in
   Section 2.5 and Appendix B.2, BGP Color-EC is used to automate the
   CAR route resolution in this case./ 

Suggested change to -07: / 
    As the procedures describe in 
    Section 2.5, and the example illustrates in Appendix B.2, BGP Color-EC is 
    used to automate the BGP CAR route resolution in this case./

### Changes suggested
**Change 1:** 
 text in -07:/ Example: a multi-domain network is designed
   as Access-Core-Access. /
 New text:/ For example, consider a multi-domain network is 
   designed as Access-Core-Access./

**Change-2:** 
  text in -07:/ For requirement 2, where CAR routes traverse across different color
   domains, LCM-EC is used to carry the local color mapping for the NLRI
   color in other color domains as already described in Section 2.8 and
   Appendix B.3./ 

   New text:/ For requirement 2, where CAR routes traverse across different color
   domains, LCM-EC is used to carry the local color mapping for the NLRI
   color in other color domains.  This procedures for are described in Section 2.8,
   and an example is given in Appendix B.3./ 

**Change-3:** 
   Note: The changes are in bold for clarity only. The changes should be in bold  in final text.

   **-07 text:**/Example: BGP CAR route (E, C1) from color domain D1,
   with LCM-EC C2 in color domain D2, may also carry Color-EC C3 and
   next hop N in a transit network domain within D2 where C2 is being
   resolved via an available intra-domain intent C3 (Appendix B.2 and
   Appendix B.3 combined)./

   **New text:**/**For example**, a BGP CAR route (E,C1) from color domain D1,
   with LCM-EC C2 in color domain D2, may also carry Color-EC C3 and
   next hop N in a transit network domain within D2 where C2 is being
   resolved via an available intra-domain intent C3 (**See the detailed 
   example in the combination of Appendix B.2 and Appendix B.3**)./


  
  


### G3-21c Section 2.11, paragraph 7, (Error Handling) - Review of -07 text 
**08-Status:** Resolved, closed 
**07-Status:**  Not Resolved, Required for publication 
**Why-1:** Unclear what "such" and "this" are in an error handling procedural statement
**Why-2:** Clear statement of Error handling Configuration knobs is important. 

Text highlighted to indicate "such" and "this" in -07 text. 
-07 text:/
   *  Key length allows unrecognized route types to transit through RR
      transparently without a software upgrade.  **Such** RR does not need
      to interpret key portion of NLRI and works on opaque key of given
      length.  An implementation SHOULD provide a knob that controls the
      RR unrecognized route type propagation behavior and possibly at
      granularity of route type values allowed.  **This** gives _ability_ to
      operator to allow specific route type transparent reflection based
      on client speaker support./
New-text:/
   *  Key length allows unrecognized route types to transit through RR
      transparently without a software upgrade.  The RR receiving
      unrecognized route types does not need to interpret the key portion 
      of an NLRI and handles the NRLI as an opaque value of a specific length. 
      An implementation SHOULD provide a knob that controls the
      RR unrecognized route type propagation behavior and possibly at
      the granularity of route type values allowed.  This configuration knob 
      gives the operator the ability to allow specific route types to be 
      transparently passed through RRs based on client speaker support./

### G3-22 Section 3, paragraph 1 - Review of -07 and -08 text 
**-08-Status:** Resolved, closed 
**-07-Status:** Not Resolved
**Next steps:** Discussion with the editors. 
**Why:** It is necessary to indicate the default preference scheme versus the possible preference scheme. 
**Note:** Based on our discussions, I understood there to be a default preference scheme and a configuration knob to allow other preference schemes (see text in _**bold-italics**_).  If this is inaccurate, adjust the text.  

**-07-text:**/ If several such paths exist, a preference scheme is
   used to select the best path: e.g.  IGP Flex-Algo first then SR
   Policy then BGP CAR./ 

**-new-text:**/ If several such paths exist, a preference scheme is
   used to select the best path.  The **_default_** preference scheme is 
   IGP Flex-Algo first, then SR Policy, followed by BGP CAR.
   **_A configuration knob may be used to adjust the default preference 
   scheme, but the operators must guarantee the same preference 
   scheme is used through-out connected domains._** 

DR# We updated it as above. But did not mandate the same preference to be configured. While it is logical and expected, but not mandatory.

Sue# This choice is fine with me. 

### G3-23: Section 4, paragraph 1
**-08-status:** Resolved 
**-07-status:** Not resolved 
Why: Clarity of English text.  The phrase "for instance" within the sentence creates a complex sentence.  The use of 2 simple sentences provides clear text. 

**-07 text:/**
   PE and BRs may support filtering of CAR routes, for instance to only
   accept routes of locally configured colors./
**-New text:/**
    PE and BRs may support the filtering of CAR routes.  For instance, the 
    filtering may only accept routes of locally configured colors./


### G3-24: Section 4.0 - Add EC - Review of -07 text 
**Status:** Resolved, closed 
 


### G3-25: Section 4.1 - Clarity in Example 
Status: Not Resolved 

### G3-25a: Section 4.1 
-07 text:/
   *  BGP CAR route (E2, C1) advertised by E2 is not unconditionally
      distributed beyond a certain point (e.g., B)/
New text:/
   *  BGP CAR route (E2, C1) advertised by E2 is not unconditionally
      distributed beyond a certain point (Peer B in the above example). /

### G3-25b: Section 4.1 - Missing Periods in sentences. 
Status: Not resolved 

**-07 text:/**
   *  E1 subscribes to (E2, C1) by advertising a filter route F (E2, C1)
      to its upstream peer A
   *  If A has (E2, C1) in its BGP RIB, it will advertise (E2, C1) to E1
   *  If A does not have (E2, C1), it will advertise F (E2, C1) to its
      peer B
   *  B will advertise (E2, C1) to A, which will distribute it to E1/
   
**New text:/**
   *  E1 subscribes to (E2, C1) by advertising a filter route F (E2, C1)
      to its upstream peer A.
   *  If A has (E2, C1) in its BGP RIB, it will advertise (E2, C1) to E1.
   *  If A does not have (E2, C1), it will advertise F (E2, C1) to its
      peer B.
   *  B will advertise (E2, C1) to A, which will distribute it to E1./ 

### G3-26: Section 5 formatting issues - Review of -07 text 
**-08-status:** resolved, closed 
**-07-status:** Not resolved 

**Edit-1**: 
-07 text:/
   Figure 2 provides an ultra-scale reference topology. /
New text:/
   Figure 2 in Section 5.1 provides an ultra-scale reference topology. 
   Section 5.1 describes this topology./ 

**Edit-2**
-07 text:/Section 5.3 analyses the
   scaling properties of each model.  /
 New text:/ Section 5.3 analyses the
 theoretical scaling properties of each model. / 


### G3-27: Sections 5.2.1-5.2.3 formatting issues - Review of -07 Text 
**-08-Status:** Resolved 27a, 27b, 27d.  Left unresolved 27c. 
**-08-Next step:** Discuss ordering + get 21c resolved

### G3-27c: Fix to 5.2.2.2 on item 4 
Why: It is unclear that T-RR1 is a transport RR. 

**-07 text:**/
   4.   451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
        T-RR2, which reflects it to T-RR1, which reflects it to 121./
**New text:**/
   4.   451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
        T-RR2, which reflects it to Transport RR T-RR1, which reflects it to 121./ 

### Resolved issues 
**-08-Status: G3-27a, G3-27b, and G3-27D resolved, closed 
**-07-Status:**: Not resolved.  This includes all of G3-27a, G3-27b, G3-27c, and G3-27d. 
**Note:** There are 4 sub-sections to these formatting issues 

### G3-27a: Section 5.2.1 
Why: English grammar does not commonly use a number ("1") for a single line. Instead, a single intent is used. 
Technical comment: I believe this can be easily changed in the xml. 

-07 text:/ 
   3.  E1 receives BGP CAR route (E2, C1) via 121 with label 168002.
   
       1.  Let's assume E1 selects that path./
 new text:/
   3.  E1 receives BGP CAR route (E2, C1) via 121 with label 168002.
   
        Let's assume E1 selects that path./

-07 text:/
   5.  E1 resolves BGP CAR route (E2, C1) via 121 on color-aware path
       (121, C1).

       1.  Color-aware path (121, C1) is FA128 path to 121 (label
           168121). / 
New text:/
   5.  E1 resolves BGP CAR route (E2, C1) via 121 on color-aware path
       (121, C1).

        Color-aware path (121, C1) is FA128 path to 121 (label 168121)./ 

### G3-27b: Section 5.2.2.2 items 3,5,6,7 
**-07 text:/**
   3.   121 resolves received BGP CAR route (451, C1) via 231 (label
        168451) on the color-aware path (231, C1).

        1.  Color-aware path (231, C1) is FA128 path to 231 (label
            168231)./
**New text:/**
   3.   121 resolves received BGP CAR route (451, C1) via 231 (label
        168451) on the color-aware path (231, C1).

         Color-aware path (231, C1) is FA128 path to 231 (label168231)./

**-07 text:**/
   6.   121 receives BGP CAR route (E2, C1) via 451 with label 168002.

        1.  Let's assume 121 selects that path.

   7.   121 resolves BGP CAR route (E2, C1) via 451 on color-aware path
        (451, C1).

        1.  Color-aware path (451, C1) is BGP CAR path to 451 (label
            168451). /
**New text:**/
   6.   121 receives BGP CAR route (E2, C1) via 451 with label 168002.
   
         Let's assume 121 selects that path.

   8.   121 resolves BGP CAR route (E2, C1) via 451 on color-aware path
        (451, C1).

        Color-aware path (451, C1) is BGP CAR path to 451 (label 168451). /



### G3-27d: Fix to indent format in 5.2.3 
**-07 text:** / 
   6.   E1 resolves BGP CAR route (451, C1) via 121 on color-aware path
        (121, C1).

        1.  Color-aware path (121, C1) is FA128 path to 121 (label
            168121).

   7.   E1 receives BGP CAR route (E2, C1) via 451 with label 168002.

        1.  Let's assume E1 selects that path.

   8.   E1 resolves BGP CAR route (E2, C1) via 451 on color-aware path
        (451, C1).

        1.  Color-aware path (451, C1) is BGP CAR path to 451 (label
            168451)./ 
**New text:** / 

   6.   E1 resolves BGP CAR route (451, C1) via 121 on color-aware path
        (121, C1).

        Color-aware path (121, C1) is FA128 path to 121 (label 168121).

   7.   E1 receives BGP CAR route (E2, C1) via 451 with label 168002.
      
         Let's assume E1 selects that path.

   8.   E1 resolves BGP CAR route (E2, C1) via 451 on color-aware path
        (451, C1).

        Color-aware path (451, C1) is BGP CAR path to 451 (label 168451).
/ 


### G3-28: Section 5.3 (Two Edits) - Review of -07 Text 
**-08-Status:** Resolved, closed
**-07-Status:** G3-28a and G3-28b are not resolved.  Required change. 

### G3-28a: Section 5.3: 
**-07 text:/** 
5.3.  Scale Analysis

   The following two tables summarize the control-plane and dataplane
   scale of these three models: / 

New text:/5.3.  Scale Analysis

   The following two tables summarize the theoretical scaling of 
   the control-plane and data-plane for these three models:/ 
 
### G3-28b Section 5.3 - Run on sentence 
**-07 text**:/ 
      -  Whether next-hop self or unchanged at 121, 341's dataplane
         scales with (451,C) where there may be thousands of 451's and 5
         C's hence well under the 1M MPLS data plane./
**New text:**/
      -  Whether next-hop self or unchanged next-hop at 121, 341's data-plane
         scales with (451, C) where there may be thousands of 451's and 5
         C's.  Therefore, this scaling is well under the 1 million MPLS data plane./ 

### G3-29: Section 5.4 - Review of -07 and -08 
**-08-status:** Resolved, closed 
**-07-status:** Unresolved, required change

-07 text:/The (E, C) subscription scheme from Section 4.1 provides the
   following scaling benefits for the models in Section 5.2./

new text:/ The (E, C) subscription scheme from Section 4.1 provides the
   following scaling benefits for the theoretical models in Section 5.2./


### G3-30: Section 5.5.2 - Review in -07 and -08 text 
**-08-status**: Resolved, clsoed 
**-07-status:** Not resolved.  This issue has the following two parts: G3-30a and G3-30b. 

### Edit-1 (G3-30a)
-07 text:/
   *  For example, assume a node E2' paired with E2 above./ 
 New text:/
   *  For example, assume a node E2' paired with E2 above (see figure 5). / 

### Edit-1 (G3-30b) 
**Why-1:** Needs clear references to the previous text in Section 5.5.1 referenced in the sentence. 
**Why-2:**  English Grammar.  The word "however" rather than "but" links two sentences.  
-07 text:/
   *  This design provides a convergence and recursive resolution
      benefit on an ingress PE or ABR similar to the egress ABR case in
      the previous section.  But its applicability is limited to cases
      where the constraints above can be met./
New text:/
   *  This design provides a convergence and recursive resolution
      benefit on an ingress PE or ABR similar to the egress ABR case in
      the previous section (Section 5.5.1). However, its applicability is 
      limited to cases where the above constraints can be met./ 
  

### -07-Text Resolution of G3-20 to G3-30
Not resolved: G3-21 (21a, 21b, and 21c),  G3-22, G3-23, G3-25 (25a and 25b), G3-26. G3-27 (27a and 27b), G3-28, G3-29, G3-30 
Resolved: G3-24 

-08 TExt Resolution of G3-21 to G3-30
**Resolved:**  G3-21, G3-22, G3-23, G3-25, G3-26, G3-27 (27a and 27b), G3-28, G3-29, G3-30
**Unresolved:** G3-27c NIT (see below)  
**Next steps:** 
- Discuss with DJ (4/24), 
- Move 27c to NIT issues, and 
- close G3-21 to G3-30

### G3-27c: Fix to 5.2.2 on item 4
Why: It is unclear that T-RR1 is a transport RR.
**-07 text:/**
4. 451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
T-RR2, which reflects it to T-RR1, which reflects it to 121./
**New text:/**
4. 451 advertises BGP CAR route (E2, C1) via 451 to Transport RR
T-RR2, which reflects it to Transport RR T-RR1, which reflects it to 121./

## 09-Text Status: 
All issues resolved, closing main issue 