Shepherd Review - G3 Class Editorial Issues 31-38 

### G3-31: Section 7.1.2 -  English Text clarity 

**G3-31a**
Old text:/
   The SRv6 Service SID allocated by an egress PE is not routed.  The
   service route is advertised by the egress PE with a Color Extended-
   Community C ([RFC9252] section 5).  / 

New text:/
   The SRv6 Service SID allocated by an egress PE is not routed.  The
   service route is advertised by the egress PE with a Color Extended-
   Community C (definition [RFC9012], usage [RFC9252] section 5). / 

**G3-31b:**
Old Text:/
   An ingress PE in a remote domain steers a received service route with
   Color C via this (E, C) BGP CAR route, as described in Section 3. /

New text:/
   An ingress PE in a remote domain steers traffic associated with the received service route with
   Color C via this (E, C) BGP CAR route, as described in Section 3. /

**G3-31c:**
Old text: Clarity of procedures 
   BGP-CAR may also provide the underlay intent-aware inter-domain
   reachability to this SRv6 transport SID:
   
   *  An egress domain BR advertises an IP Prefix Type-2 CAR route for
      the locator prefix that covers the SRv6 transport SID allocated by
      the egress BR for this (E, C) route.  This IP Prefix CAR route is
      distributed across BGP hops in the underlay towards ingress PEs
      similar to previous case and may be summarized.

   *  Thus, the colored service route resolves via the Type-1 CAR route,
      which in turn carries a SRv6 transport SID that resolves via the
      Type-2 CAR route.  Multiple Type-1 routes may resolve via a single
      Type-2 route.
/
New text:/
   BGP-CAR may also provide the underlay intent-aware inter-domain
   reachability to this SRv6 transport SID by:
      1. An egress domain BR advertises an IP Prefix Type-2 CAR route for
      the locator prefix that covers the SRv6 transport SID allocated by
      the egress BR for this (E, C) route.  
	  
	  2. This IP Prefix CAR route is distributed across BGP hops in the 
	  underlay towards ingress PEs similar to previous case and may be summarized.

	  3. the colored service route resolves via the Type-1 CAR route,
      which in turn carries a SRv6 transport SID that resolves via the
      Type-2 CAR route.  Multiple Type-1 routes may resolve via a single
      Type-2 route.
/ 

### G3-32:  Section  7.2, Editorial 

Old text:/ 
   A few options to forward packets for BGP Rv6 prefixes described in
   ([I-D.agrawal-spring-srv6-mpls-interworking] also apply to BGP CAR as
   follows: /
New text:/
   A few options to forward packets for BGP SRv6 prefixes described in
   ([I-D.agrawal-spring-srv6-mpls-interworking] also apply to BGP CAR for
   Hop by Hop IPv6 forwarding (section 7.2.1) and Encapsulation between
   Border routes (BR) for BGP SRv6 Prefixes (section 7.2.2). 
/

**Why:** English Grammar. Sentences do not linger over sections.  

### G3-33: Section 7.2.1 - English Grammar 

Old text:/
   *  Hop by hop IPv6 lookup and forwarding on both BRs and P nodes in a
      domain.
      -  No tunnel encapsulation between BRs in a domain.
      -  No per-PE SID allocation and installation on any BGP hop.

   *  P nodes need to learn BGP SRv6 routes.  With summarization, route
      scale requirements can be minimized.

   *  BGP routing is enabled on all internal nodes (iBGP).

   *  BRs distribute external SRv6 routes to internal peers.
      -  Next-hop unchanged with recursive resolution via IGP at each
         hop.

   *  Similar to Internet / BGP IP routing well-known model.
      -  Can support large scale route distribution.
	  
   Illustration in Appendix C.1.
/
New text:/
The following characteristics are possible for IPv6 forwarding
of BGP SRv6 Prefixes: 

   *  Hop by hop IPv6 lookup and forwarding on both BRs and P nodes in a
      domain.
      -  No tunnel encapsulation between BRs in a domain.
      -  No per-PE SID allocation and installation on any BGP hop.

   *  P nodes need to learn BGP SRv6 routes.  With summarization, route
      scale requirements can be minimized.

   *  BGP routing is enabled on all internal nodes (iBGP).

   *  BRs distribute external SRv6 routes to internal peers.
      -  Next-hop unchanged with recursive resolution via IGP at each
         hop.

The scaling of the solution is similar to Internet where BGP IP routing 
has well-known scaling and can support large scale route distribution.
An example illustrating these qualities is in the Appendix in section C.1. 
/ 
**Why:** (English Grammar) English Sentences rather than bullet points. 

### G3-34: Section 7.2.2. - English Edits 

Old text:/
7.2.2.  Encapsulation between BRs for BGP SRv6 Prefixes
   *  IPv6 lookup and forwarding for BGP SRv6 prefixes only on BGP BRs.
      -  P nodes do not learn or install these prefixes.

   *  SRv6 (or other) encapsulation to reach the BGP SRv6 next hop.
      -  Not needed for connected next hops, such as eBGP single-hop.

   *  SRv6 outer encapsulation may be H.Encaps.Red or H.Insert.Red.

   *  BGP route distribution between BRs (via RRs, or directly if
      single-hop eBGP).

   *  An egress BR sets itself as BGP next hop, selects and advertises
      an appropriate SID for SRv6 based encapsulation towards itself.
      -  BGP next hop and SID for specific intent within domain.

   *  An ingress BR encapsulates SRv6 egress PE destined packets with
      encapsulation to BGP next hop, ie.  Egress BR.

   *  If SRv6 encapsulation, then SID from egress BR is common SID,
      shared by multiple BGP SRv6 prefixes.
      -  No per-PE SID allocation and installation on any BGP hop.

   *  If MPLS/SR-MPLS transport, route will carry label/prefix-SID
      allocated by next hop, may be shared.

   Illustration in Appendix C.2.
/

New text:/
7.2.2.  Encapsulation between BRs for BGP SRv6 Prefixes

Another possible solution is the encapsulation of IPv6 traffic
between Border Routers for IPv6 Prefixes.  This solution includes
the following steps: 

   *  IPv6 lookup and forwarding for BGP SRv6 prefixes only on BGP BRs.
      -  P nodes do not learn or install these prefixes.

   *  SRv6 (or other) encapsulation to reach the BGP SRv6 next hop.
      -  Not needed for connected next hops, such as eBGP single-hop.

   *  SRv6 outer encapsulation may be H.Encaps.Red or H.Insert.Red.

   *  BGP route distribution between BRs (via RRs, or directly if
      single-hop eBGP).

   *  An egress BR sets itself as BGP next hop, selects and advertises
      an appropriate SID for SRv6 based encapsulation towards itself.
      -  BGP next hop and SID for specific intent within domain.

   *  An ingress BR encapsulates SRv6 egress PE destined packets with
      encapsulation to BGP next hop (probably the Egress Border router), 

   *  If SRv6 encapsulation, then SID from egress BR is common SID,
      shared by multiple BGP SRv6 prefixes.
      -  No per-PE SID allocation and installation on any BGP hop.

   *  If MPLS/SR-MPLS transport, route will carry label/prefix-SID
      allocated by next hop, may be shared.

An example illustrating this solution is in Appendix C.2.
/

**Why:** (English Grammar) Sentences rather than bullet points. 

### G3-35: Section 7.2.3 

Old text:/
   Using the BGP CAR SAFI provides significant operational advantages: /
New text:/
   Using the BGP CAR SAFI provides the following operational advantages: / 

**Why:** Unless you can prove "significant" stay with the adjective "following". 

### G3-36: Section 8 

Old text:/
   For specific intents, color may be signaled with the CAR Type-2 route
   for purposes such as intent-aware SRv6 SID or BGP next-hop selection
   at each transit BR, color based routing policies and filtering, and
   intent-aware next-hop resolution (Section 2.5), same as with Type-1
   routes.  For such purposes, color associated with the CAR IP Prefix
   route is signaled using LCM-EC.
/ 
New text:/
   For specific intents, color may be signaled with the CAR Type-2 route
   for purposes such as intent-aware SRv6 SID or BGP next-hop selection
   at each transit BR, color based routing policies and filtering, and
   intent-aware next-hop resolution (Section 2.5).  These purposes are
   the same as with Type-1 routes.  For such purposes, color associated
   with the CAR IP Prefix route is signaled using LCM-EC.
/

### G3-37:  Section 9.1.1
Old text:/
   *  All fields are encoded as per Section 2.9.2.
   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field
   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field
   *  Route Distinguisher: 8 octet field encoded according to [RFC4364]
/
New text:/
   All fields are encoded as per Section 2.9.2 with the following changes: 
   *  Key Length: This key length indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field. 	  
   *  Route Distinguisher: 8 octet field encoded according to [RFC4364].
/
 
### G3-38: Section 9.1.2
Old text:/
   *  All fields are encoded as per Section 2.9.3.
   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field
   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field
   *  Route Distinguisher: 8 octet field encoded according to [RFC4364]
/
New text:/
   All fields are encoded as per Section 2.9.3 with the following changes: 
   *  Key Length: This key length indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field. 	  
   *  Route Distinguisher: 8 octet field encoded according to [RFC4364].
/
 

 

### G3-31: Section 7.1.2 (Clarity of English Text) - 07 text review 
**08-status:** resolved, closed after discussion with DJ.  

**07-status:** Partially Resolved.  This issue contains the following three sub-issues: 31a, 31b, 31c.  **Resolved:** 31a, 31b, **Not resolved:** 31c

### 31-c Issue: 
**-07 text:**/
   BGP CAR distribution of (E, C) underlay route:

   *  The intent-aware path to the egress PE within the egress domain is
      provided by an SR-TE or similar policy (E, C) [RFC9256].  This (E,
      C) policy is distributed into the multi-domain network from egress
      BRs using a BGP CAR Type-1 route, towards ingress PEs in other
      domains.  This signaling is the same as for SR-MPLS, as described
      in earlier sections.

   *  The (E, C) BGP CAR Type-1 route is advertised from a BR with an
      SRv6 transport SID allocated from an SRv6 locator assigned for the
      intent C.  An SR-PCE or local configuration may ensure multiple
      BRs in the egress domain that originate the (E, C) route advertise
      the same SRv6 transport SID./ 

**New text:**/
   BGP CAR distribution of (E, C) underlay route is done by: 

   *  The intent-aware path to the egress PE within the egress domain 
      being provided by an SR-TE or similar policy (E, C) [RFC9256]. This  
      (E, C) policy is distributed into the multi-domain network from an 
      egress BR using a BGP CAR Type-1 route to ingress PEs in other domains.  
      This signaling is the same as for SR-MPLS, as described in section 2
      (see sections 2.3, 2.4, 2.5, and 2.8). 

   *  This (E, C) BGP CAR Type-1 route is advertised from a BR with an
      SRv6 transport SID allocated from an SRv6 locator assigned for the
      intent C.  
### note for -08: Split here missing
   *  An SR-PCE or local configuration may ensure multiple
      BRs in the egress domain that originate this (E, C) route 
      is advertise the same SRv6 transport SID./ 

Note: If the above sections within the draft are incorrect, please provide specific sections. 
     

 

### G3-32: Section 7.2 (Editorial) - Review of -07 text 
**status:** Not resolved 

**-07 text**:/ 
   A few options to forward packets for BGP SRv6 prefixes described in
   ([I-D.agrawal-spring-srv6-mpls-interworking] also apply to BGP CAR as
   follows:/
**-new text**:/
   A few options to forward packets for BGP SRv6 prefixes described in
   ([I-D.agrawal-spring-srv6-mpls-interworking] also apply to BGP CAR. 
   These options are for Hop by Hop IPv6 forwarding and Encapsulation 
   between Border Routers (BRs) for BGP SRv6 Prefixes.  The application 
   to BGP CAR is described in this section (See sections 7.2.1 and 7.2.2 
   respectively).  

Note: I've changed the suggested text. 

### G3-33 - Section 7.2.1 - English Grammar  - Review of -07 Text 
**-08-Status:** Resolved, closed  
**-07-status:** Partial resolution, Additional Edits (G3-33a) 

### G3-33a: Grammar - 
**Why:**  An English sentence should introduce a bullet list.  

**-07-text:**/ 
   This option employs hop by hop IPv6 lookup and forwarding on both BRs
   and P nodes in a domain, along the path of propagation of BGP CAR
   routes./ 

**New text:** /
   This option employs hop-by-hop IPv6 lookup and forwarding on both BRs
   and P nodes in a Color domain along the path of propagation of BGP CAR
   routes. The option requires the following procedures: / 

### G3-33b: Grammar 
**Why:**  An English sentence should introduce a bullet list.  

**-07-text**:/
   *  BRs distribute external BGP SRv6 routes to internal peers,
      including P routers 

      -  External BGP Next-hop is advertised unchanged to internal
         peers.

      -  Internal nodes use recursive resolution via IGP at each hop to
         forward IPv6 packets towards the external BGP next-hop.

      -  Resolution is per intent/color, for instance via IGP IPv6
         FlexAlgo/ 

**New-text:**/
   *  BRs distribute external BGP SRv6 routes to internal peers,
      including P routers using the following procedures: 

      -  External BGP next-hop is advertised unchanged to internal
         peers.

      -  Internal nodes use recursive resolution via IGP at each hop to
         forward IPv6 packets towards the external BGP next-hop.

      -  Resolution of routes and next-hops is done per intent/color.
         (For example, using IGP IPv6 FlexAlgo to resolve a "gold color
           route with a specific next-hop.)/ 

Note: Please check the "For example text to see if it aligns with your plans for the text."


### G3-34 - Section 7.2.2. - English Edits - Review of -07 Text 
**-08-Status:** G3-34a (drop), G3-34b (ok), G3-34 Resolved, closed 
**-07-Status:** Partial changes.  See additional edits below as G3-34a and G3-34b. 

### G3-34a: Grammar for list 

-07 text: /
   In this design, IPv6 lookup and forwarding for BGP SRv6 prefixes are
   only done on BGP BRs.

   *  These nodes use SRv6 (or other) encapsulation to reach the BGP
      SRv6 next hop./

New text:/
   In this design, IPv6 lookup and forwarding for BGP SRv6 prefixes are
   only done on BGP BRs.  The BGP BRs do the following things: 

   *  These BGP BRs use SRv6 (or other) encapsulation to reach the BGP
      SRv6 next hop./ 

### G3-34b: English Grammar - formating of single list entries + clarity of text. 

**-07 text:**/
         o  A common SID may be shared by multiple BGP SRv6 prefixes,
            avoiding per-PE SID allocation and installation on any BGP
            hop./
**New text (option 1):**/ 
            Multiple BGP SRv6 prefixes may share a common SID,
            avoiding per-PE SID allocation and installation on any BGP
            hop./ 
**New text (option 2)**:/ 
            A common SID may be shared by multiple BGP SRv6 prefixes
            avoiding per-PE SID allocation and installation on any BGP
            hop./
Note: My text editor has edit suggestions. It continues to flag the text in option 2 as problematic, so I gave you option 1. 


### G3-35: Section 7.3 (was 7.2.3) - Review of -07 text 
**status:** Resolved, closed 

### G3-36: Section 8 - in -07 and-08 text 
**-08-Status:** Resolved, closed 
**-07-Status:** Not resolved
**Why:** Grammar: The run-on sentence in the text should be broken into two sentences. 
**Note:** Text highlights help identify the change.  The highlight should not be carried over to the new text. 

**-07 text:** /
   For specific intents, color may be signaled with the CAR Type-2 route
   for purposes such as intent-aware SRv6 SID or BGP next-hop selection
   at each transit BR, color based routing policies and filtering, and
   intent-aware next-hop resolution (Section 2.5)**, same as with Type-1
   routes.**  For such purposes, color associated with the CAR IP Prefix
   route is signaled using LCM-EC./

**New text**:/
   For specific intents, color may be signaled with the CAR Type-2 route
   for purposes such as intent-aware SRv6 SID or BGP next-hop selection
   at each transit BR, **color-based** routing policies and filtering, and
   intent-aware next-hop resolution (Section 2.5)**.  These purposes are the
   same as with Type-1 routes.**  For such purposes, **the** color associated 
   with the CAR IP Prefix route is signaled using LCM-EC./



### G3-37- Section 9.1.1 - in text -07 and -08 
**-08-status:** Resolved 
**-07-Status:** Not resolved
**Why:** You are specifying changes to section 2.9.2 for VPN CAR.  If this is incorrect, please let me know. 
Note: Bold in the "new text" indicates changes suggested to make it easier to read.  Do not put the bold in the final document. 

-07 text: /
    *  All fields are encoded as per Section 2.9.2.
    
   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color field

   *  Route Distinguisher: 8 octet field encoded according to [RFC4364]

   *  Type-Specific Non-Key Fields: Encoded as per Type-Specific Non-Key
      Fields of Color-Aware Routes NLRI Type in Section 2.9.2.  Label
      TLV, Label Index TLV and SRv6 SID TLV may be associated with the
      VPN CAR Type-1 NLRI type./

New text:/
 **All** fields are encoded as per Section 2.9.2 **with the following changes:** 
   
   *  Key Length: **This field** indicates the total length comprised of the RD,
      Prefix Length field, IP Prefix field, and the Color **field.** 

   *  Route Distinguisher: **An 8-octet** field encoded according to [RFC4364].

   *  Type-Specific Non-Key Fields: Encoded as per Type-Specific Non-Key
      Fields of Color-Aware Routes NLRI Type in Section 2.9.2.  Label
      TLV, Label Index **TLV,** and SRv6 SID TLV may be associated with the
      VPN CAR Type-1 NLRI type./

### G3-38: Section 9.1.2 for -07 and -08 text 
***-08-status:** resolved, closed., 
**-07-status:** Not resolved
**Why:** Sentence Grammar 
**Note:** These editorial changes are parallel to 2.9.2.  I've also highlighted the changes in the "new-text" with bold. 

-07 text:/
   *  All fields are encoded as per Section 2.9.3.

   *  Key Length: It indicates the total length comprised of the RD,
      Prefix Length field and IP Prefix field

   *  Route Distinguisher: 8 octet field encoded according to [RFC4364]

   *  Type-Specific Non-Key Fields: Encoded as per Type-Specific Non-Key
      Fields of IP Prefix NLRI Type in Section 2.9.3.  Label TLV, Label
      Index TLV and SRv6 SID TLV may be associated with the VPN CAR
      Type-2 NLRI type./

New text:/
   All fields are encoded as per Section 2.9.3 **with the following changes:** 

   *  Key Length: **This length** indicates the total length comprised of the RD,
      Prefix Length field and IP Prefix field

   *  Route Distinguisher: An 8-octet field encoded according to [RFC4364]

   *  Type-Specific Non-Key Fields: Encoded as per Type-Specific Non-Key
      Fields of IP Prefix NLRI Type in Section 2.9.3.  Label TLV, Label
      Index **TLV,** and SRv6 SID TLV may be associated with the VPN CAR
      Type-2 NLRI type./


Resolved issues: G3-31a, G3-31b, G3-33 (partial), G3-34 (partial), G3-35, 
Unresolved issues: G3-31c, G3-32, G3-33a, G3-33b, G3-34a, G3-34b, G3-36, G3-37, G3-38

### 08-Text Resolution of G3-31 to G3-38 Issues 
**Resolved issues:** G3-31a, G3-31b, G3-31c. G3-32, G3-33, G3-34, G3-35, G3-36, G3-37, G3-38 
- Close issue G3-31 to G3-38


All Issues resolved, closing main issue 